@import "../variables";
@import "../mixins/responsive";
.roulette-btn{
    padding: 1rem 2rem;
    display: block;
    
    color: $onPrimaryColor;
    background: $primaryColor;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2rem auto;
    @include responsive("mobile"){
       
        font-size: 1.2rem;
    }
    @include responsive("desktop"){
        // margin: 3rem auto;
    }
}