%customContent{
    margin:1rem 0;

    strong{
        font-weight: bold;
    }
    img{
        max-width: 100%;
    }
    a{
        text-decoration: currentColor underline;
    }
}

.roulette-init-content{

    @extend %customContent;
}

.roulette-end-content{
    @extend %customContent;
}


