@import "../variables";


.roulette-end-subtitle{
    font-weight: bold;
    .accent{
        color:$primaryColor;
        font-size: 1.5em;
        padding:0 0.2em;
    }
}

.roulette-final-title{
    width: 100%;
}