@import "../mixins/responsive";

.roulette-wheel{
    position: absolute;
    transform-origin: center;
    transition: all 300ms;

    @include responsive("mobile"){
        top:5%;
        left:50%;
        transform:translate(-50%, -50%);; 
        -webkit-transform:translate(-50%, -50%);
        width: 80%;
    }
    @include responsive("desktop"){
        top:50%;
        transform:translate(-45%, -50%);; 
        -webkit-transform:translate(-45%, -50%);
        // max-height: 95%;
        width: 150%;
    }

    &-pin{
        position: absolute;
        transform-origin: center;
        
        @include responsive("mobile"){
            top:2%;
            left:50%;
            transform:translate(-50%, 0%) rotate(90deg);; 
            -webkit-transform:translate(-50%, 0%) rotate(90deg);
            // max-height: 15%;
            max-width: 20%;
        }
        @include responsive("desktop"){
            top:50%;
            transform:translate(0, -50%);; 
            -webkit-transform:translate(0, -50%);
            // max-height: 12%;
            max-width:30%;
        }

    }
}