.roulette-title{
    font-weight: bold;
    word-wrap: anywhere;
    word-break: break-word;
    
    & .light{
        color:white;
    }
    & .color{
        color:#e8336e;
    }

    &-img{
        display: block;
        margin: auto;
        width:100%;
        max-width:300px;
    }
}